{% extends "base.html.twig" %}
{% block title %}Confirmation de compte - Swoome
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/account_confirm/index.css') }}">
	{{ parent() }}
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-success flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<script>
		function launchApp() {
window.location.replace("com.kewey.swoome://");
setTimeout(openWebApp, 2000);
},

function openWebApp() {
window.location.replace("https://play.google.com/store/apps/details?id=com.kewey.swoome");
};

setTimeout(launchApp, 2000);
	</script>
{% endblock body %}{% endblock body %}{% endblock body %}{% endblock body %}
