{% extends "@EasyAdmin/page/content.html.twig" %}
{% block page_title %}Backoffice de Swoome
{% endblock %}
{% block main %}
	<p>Vous pouvez y gérer les utilisateurs, groupes, dépenses, catégories de groupes et dépenses...</p>
{% endblock %}
